html
    head
         meta(name="viewport" content="width=device-width, initial-scale=1.0") 
         title="DSC User Validation"
         link(rel="stylesheet",href="/style.css")
      
    body
          div(class="content")
               img(src="/download.png" id="img" alt="DSC Logo")
               h4 #{title} #{confirm} a VERIFIED USER!</h4>